@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "Muller";
  
    src:
      local("Muller"),
      url("../fonts/MullerLight.woff2") format("woff2"),
      url("../fonts/MullerLight.woff") format("woff");
  }
  